--find-links https://download.pytorch.org/whl/torch_stable.html
streamlit==1.42.0
transformers==4.48.3
numpy
pandas
plotly
requests
scikit-learn
statsmodels
selenium
webdriver-manager
openai
torch==2.2.2
